<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="phone1" class="session15.domain.Phone">
        <property name="name" value="Anna"></property>
        <property name="age" value="15"></property>
    </bean>
    <bean id="phone2" class="session15.domain.Phone">
        <constructor-arg ref="phoneName"></constructor-arg>
        <constructor-arg value="15" type="int"></constructor-arg>
    </bean>
    <bean id="phoneName" class="java.lang.String">
        <constructor-arg value="Dsin Dsin"/>
    </bean>
    <bean id="company" class="session15.domain.Company">
        <constructor-arg value="Argo"/>
        <constructor-arg ref="director"></constructor-arg>
        <constructor-arg ref="car"></constructor-arg>


    </bean>
    <bean id="director" class="session15.domain.Ditector">
        <constructor-arg value="Alex"></constructor-arg>
        <constructor-arg ref="phone1"></constructor-arg>
    </bean>


    <bean id="car" class="session15.domain.Car">
        <constructor-arg value="Pegout"></constructor-arg>

    </bean>

</beans>