h1 {
    font-weight: bold;
    font-family: "Times New Roman";
    color: darkred;
    line-height: 1.1em;
    height: 0.5em;
}
h3 {
    font-weight: bold;
    font-family: "Times New Roman";
    color: navy;
    line-height: 1.3em;
    height: 0.5em;
}
table {
    border-collapse: collapse;
    margin: 10px 0 0 0;
    border: 4px solid navy;
}

table th{
    padding: 0 5px 0 5px;
    border: 3px solid navy;
    outline-color: lightblue;
    outline-style: inset;
}

table td{
    font-size: small;
    min-width: 8em;
    text-align: center;
    border: 3px solid navy;
    outline-color: lightblue;
    outline-style: inset;
}

table td.shrink, th.shrink{
    font-size: small;
    max-width: 4em;
    text-align: center;
}

input[type=submit]{
    width: auto;
    font-size: medium;
    font-weight: bold;
    color: darkred ;   /*forestgreen;*/
    line-height: 200%;

    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-color: bisque ;
}
input[type=submit]:hover{
    opacity: 0.6;
}
button{
    display: inline-block;
    text-align: left;
    font-size: small;
    font-weight: bold;
    font-family: Arial;
    color: forestgreen;
}

button.but {
    min-width: 2em;
    color: darkred;
    background-color: bisque ;
    width: auto;
    font-weight: bold;
    font-size: x-large;
    line-height: 1em;
    text-align: center;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

button.but:hover{
    opacity: 0.6;
}
label.cntMark {
    margin: 0 0 0 20px;
    text-align: center;
    color: darkred;
    font-weight: bold;
    font-family: Arial;
    font-size: x-large;
    line-height: 1em;
}

label.regMessage {
    text-align: center;
    color: red;
    font-weight: bold;
    font-family: Arial;
    font-size: x-large;
    line-height: 1em;
}