<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder
            location="classpath:session15/conf.properties"/>

    <bean id="phone1" class="session15.Phone">
        <property name="name" value="${driver}"/>
        <property name="age" value="14"/>
    </bean>
    <bean id="phone2" class="session15.Phone">
        <constructor-arg ref="phoneName"/>
        <constructor-arg value="20"/>
    </bean>

    <bean id="phoneName" class="java.lang.String">
        <constructor-arg value="Sdf"/>
    </bean>

    <bean id="chefName1" class="java.lang.String">
        <constructor-arg value="${Kho}"/>
    </bean>

    <bean id="car1" class="session15.Car">
        <property name="no" value="AB0001CE"/>
        <constructor-arg ref="chefName1"/>
    </bean>

    <bean id="chef1" class="session15.Chef">
        <constructor-arg ref="chefName1"/>
    </bean>

    <bean id="comp1" class="session15.Company">
        <constructor-arg ref="car1"/>
        <constructor-arg ref="chef1"/>
    </bean>



</beans>