<?xml version='1.0' encoding='utf-8'?>
        <!DOCTYPE hibernate-configuration PUBLIC
                "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property name="hibernate.connection.username">notebooks</property>
        <property name="hibernate.connection.password">notebooks</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.jdbc.batch_size">20</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <mapping class="hw7.Notebook"/>
        <mapping class="hw7.notes.domain.Vendor"/>
        <mapping class="hw7.notes.domain.CPU"/>
        <mapping class="hw7.notes.domain.Memory"/>
        <mapping class="hw7.notes.domain.Store"/>
        <mapping class="hw7.notes.domain.Sales"/>
    </session-factory>
</hibernate-configuration>