h1{
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman";
    color: firebrick;
    line-height: 100%;
}

div.cellIn{
    float:left;
    margin: 0 5px 0 0
}
input[type=text]{
    text-align: right;
    width: 100%;
    font-weight: bold;
    font-size: large;
    background-color: blanchedalmond;
    color: navy;;
}

label.smallSign{
    /*min-width: 40em;*/
    /*width: 40em;*/
    display: block;
}

table {
    width: 1020px;
    border-collapse: collapse;
    margin: 5px 0 0 0;
    border: 4px solid navy;
    table-layout: fixed;
}
table td{
    font-size: small;
    font-weight: bold;
    text-align: left;
    color: navy;
    border: 3px solid navy;
}
table td.col0{
    width: 500px;
}
table td.colA{
    width: 130px;
}

input[type=submit], button.but {
    /*width: auto;   */ /* small button text type*/
    /*font-size: x-small;*/
    /*font-weight: bold;*/
    /*color: darkred ;*/
    /*line-height: 200%;*/

    /*-moz-border-radius: 15px;*/
    /*-webkit-border-radius: 15px;*/
    /*background-color: bisque ;*/
    /*min-width: 25em;*/
    /*max-width: 25em;*/
    white-space: normal;
    width: 98%;
    color: darkred;
    background-color: bisque ;
    margin: 0 5px 0 0;
    font-weight: bold;
    font-size: large;
    line-height: 1em;
    text-align: left;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
input[type=submit]:hover{
    opacity: 0.6;
}

/*button.but {*/
    /*min-width: 2em;*/
    /*color: darkred;*/
    /*background-color: bisque ;*/
    /*width: auto;*/
    /*font-weight: bold;*/
    /*font-size: x-large;*/
    /*line-height: 1em;*/
    /*text-align: center;*/
    /*-moz-border-radius: 15px;*/
    /*-webkit-border-radius: 15px;*/
/*}*/

/*button.but:hover{*/
    /*opacity: 0.6;*/
/*}*/

#MenuImg{
    margin-top: 0;
    /*width: 60%;*/
    /*height: 130%;*/
}