h1{
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman";
    color: firebrick;
    line-height: 100%;
}


input[type=text]{
    text-align: right;
    width: 60px;
    font-weight: bold;
    font-size: x-large;
    background-color: blanchedalmond;
}


input[type=submit]{
    /*width: auto;   */ /* small button text type*/
    /*font-size: x-small;*/
    /*font-weight: bold;*/
    /*color: darkred ;*/
    /*line-height: 200%;*/

    /*-moz-border-radius: 15px;*/
    /*-webkit-border-radius: 15px;*/
    /*background-color: bisque ;*/
    min-width: 23em;

    color: darkred;
    background-color: bisque ;
    width: auto;
    font-weight: bold;
    font-size: x-large;
    line-height: 1em;
    text-align: left;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
input[type=submit]:hover{
    opacity: 0.6;
}

button.but {
    min-width: 2em;
    color: darkred;
    background-color: bisque ;
    width: auto;
    font-weight: bold;
    font-size: x-large;
    line-height: 1em;
    text-align: center;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

button.but:hover{
    opacity: 0.6;
}

#MenuImg{
    margin-top: 2%;
    /*width: 60%;*/
    /*height: 130%;*/
}