<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:session15/conf.properties"/>

    <bean id="phone1" class="session15.Phone">
        <property name="name" value="avada kedavra"/>
        <property name="age" value="190"/>
    </bean>

    <bean id="phone2" class="session15.Phone">
        <constructor-arg ref="nameBAEN"/>
        <constructor-arg value="1" type="int"/>
    </bean>

    <bean id="nameBAEN" class="java.lang.String">
        <constructor-arg value="spring str"/>
    </bean>

    <bean id="company" class="session15.Company">
        <property name="principal" ref="principal"/>
        <property name="name" value="Hogvarts"/>
    </bean>

    <bean id="principal" class="session15.Principal">
        <property name="car" ref="car"/>
        <property name="name" value="Dambldor"/>
    </bean>

    <bean id="car" class="session15.Car">
        <property name="model" value="${car.model}"/>
    </bean>
</beans>