h1 {
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman";
    /*background-color: gold;*/
    color: firebrick;
}
h3 {
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman";
    /*background-color: gold;*/
    color: navy;
}
tr{
    text-align: center;
}
input[type=submit]{
    display: inline-block;
    text-align: left;
    font-size: x-large;
    font-weight: bold;
    color: forestgreen;
    line-height: 200%;
}