h1 {
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman";
    /*background-color: gold;*/
    color: firebrick;
}
h3 {
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman";
    /*background-color: gold;*/
    color: navy;
}
tr{
    text-align: center;
    font-weight:bold;
}
td{
    width: 15%;
}
table td.shrink{
    width: 5%;
}

input[type=submit]{
    display: inline-block;
    text-align: left;
    font-size: x-large;
    font-weight: bold;
    color: forestgreen;
    line-height: 200%;
}
button{
    display: inline-block;
    text-align: left;
    font-size: small;
    font-weight: bold;
    font-family: Arial;
    color: forestgreen;
}