label {
    display: inline-block;
    text-align: right;
    width: 200px;
    font-weight: bold;
    font-family: Arial;
    /*background-color: gold;*/
    color: saddlebrown;
    line-height: 200%;
}
input[type=text]{
    display: inline-block;
    text-align: right;
    width: 300px;
    font-weight: bold;
    background-color: skyblue;
    color: firebrick;
    line-height: 150%;
}

input[type=submit]{
    width: 250px;
    margin-left: 450px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: forestgreen;
    line-height: 200%;
}