<?xml version='1.0' encoding='utf-8'?>
        <!DOCTYPE hibernate-configuration PUBLIC
                "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <!--<property name="connection.username">hr</property>
        <property name="connection.password">hr</property>-->
        <property name="connection.username">notebooks</property>
        <property name="connection.password">notebooks</property>
        <property name="connection.pool_size">1</property><!--исп-е DataSource - может установить несколько соединеий
        всегда поддерживается несколько настроенных соединений. 1 - значит, что в самом начале нужно установить хотя
        бы одно соединение-->
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property><!--обязательно нужно указать!
        в зависимости от дилекта он некоторые операии будет оптимизировать на основании этого диалекта-->
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.cache.use_second_level_cache">false</property><!--не исп-ем кеш-->
        <property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</property>
        <property name="show_sql">true</property> <!--видим, что генерит SQL-->
        <property name="hbm2ddl.auto">create</property>
        <!--<mapping class="hibernate.domain.UserProcess"/>-->
        <mapping class="hibernate.CompanyEmployees.Company"/>
        <mapping class="hibernate.CompanyEmployees.Employee"/>
        <!--все классы, которые хотим отображать, нужно сюда записывать в виде:
        <mapping class="session11.Region"/>-->
    </session-factory>
</hibernate-configuration>