<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:property-placeholder location="classpath:session15/conf.property"/>
    <context:component-scan base-package="session15"/>


    <bean id="phone1" class="session15.Phone">
        <!-- collaborators and configuration for this bean go here -->
        <property name="name" value="${car.model}"/>
        <property name="age" value="15"/>


    </bean>


    <bean id="phone2" class="session15.Phone">
        <constructor-arg ref='PhoneName'/>
        <constructor-arg value="20"/>
        <!-- collaborators and configuration for this bean go here -->
    </bean>


    <!-- more bean definitions go here -->
    <bean id="PhoneName" class="java.lang.String">
        <constructor-arg value="Dsin-Dsin"/>
    </bean>



    <bean id="car1" class="session15.Car">
        <!-- collaborators and configuration for this bean go here -->
        <property name="name" value="BMW"/>
        <property name="number" value="223332"/>

    </bean>

    <bean id="car2" class="session15.Car">
        <!-- collaborators and configuration for this bean go here -->
        <property name="name" value="Mers"/>
        <property name="number" value="12345"/>

    </bean>


    <bean id="dir1" class="session15.Director">
        <!-- collaborators and configuration for this bean go here -->
        <property name="lastName" value="Ivanov"/>


    </bean>

    <bean id="dir2" class="session15.Director">
        <!-- collaborators and configuration for this bean go here -->
        <property name="lastName" value="Petrov"/>


    </bean>



    <bean id="company1" class="session15.Company">
        <!-- collaborators and configuration for this bean go here -->
        <constructor-arg name="name" value="Apple"/>
        <constructor-arg ref="dir1" index="1"/>

        <constructor-arg ref="car1" index="2"/>
        <constructor-arg ref="phone1" index="3"/>


    </bean>
</beans>