<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:property-placeholder location="classpath:session15/conf.properties"/>

    <bean id="phone1" class="session15.Phone">
        <property name="name" value="${car.model}"/>
        <property name="age" value="23"/>
    </bean>
    <bean id="phone2" class="session15.Phone">
        <constructor-arg ref="phoneName" index="0"/>
        <constructor-arg value="23" type="int"/>
    </bean>
    <bean id="phoneName" class="java.lang.String">
        <constructor-arg value="Dsin Dsin"/>
    </bean>
    <bean id="car" class="session15.Car">
        <constructor-arg value="KIA"/>
    </bean>
    <bean id="director" class="session15.Director">
        <constructor-arg value="Sesop"/>
    </bean>
    <bean id="company" class="session15.Company">
        <constructor-arg value="TOSHIBA"/>
        <constructor-arg ref="director"/>
        <constructor-arg ref="car"/>
    </bean>
    <!-- more bean definitions go here -->
</beans>